.container { 
    background-color: green; 
}
.fatty {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}

.fun {
    background-color: yellow;
    color: white;
    padding: 700px;
    margin: 10px 10px 10px 10px;
}
